#content {
    background-color: rgb(253, 253, 253);
    width: calc(100vw - 250px);
    height: 100vh;
    overflow: auto;
    align-items: center;

    &__main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__centered{ 
            margin: 26px;
            margin-top: 10vh;
            max-height: 100%;
            max-width: 800px;
            padding-bottom: 50px;
       }
    }
}

.blacktext{
    color:black;
}

#articleText{
    padding-top: 20px;
    font-weight: 500;
    font-size: 26px;
}

@media (max-width: 1000px){
    #content{
        width: 100vw;
    }
}