#content {
    background-color: rgb(253, 253, 253);
    width: calc(100vw - 250px);
    height: 100vh;
    overflow: auto;
    align-items: center;

    &__main{
        margin-top: 100px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__centered{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 26px;
            margin-top: 10vh;
            max-height: 100%;
            max-width: 1200px;
            padding-bottom: 50px;
            line-height: 26pt;
       }
    }
}

.imageBox{
    width: 80%;
}

.contentBox{
    max-width: 800px;
}

.centered {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }

#about{
    margin-top: 100px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: around;
        &__header-container{
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}

.socmedia{
    margin: 15px 0 0 0;
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.blacktext{
    color:black;
}

@media (max-width: 1000px){
    .imageBox{
        width: 95%;
    }
    #content{
        width: 100vw;
        &__main{
            margin-top: 120px;
            &__centered{
                width: auto;
            }
        }
    }

    #about{
        width: 100vw;
        margin-top: 20px;
        flex-direction: column-reverse;
    }
    .about-box{
        width: 100vw;
        flex-direction: column;
    }
}