#content {
    background-color: white;
    width: calc(100vw - 250px);
    height: 100vh;
    overflow: auto;
    align-items: center;

    &__main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__centered{
            margin-top: 10vh;
            max-height: 100%;
            width: 76%;
            padding-bottom: 200px;
       }
}
}

.image-section {
    display: flex;
    justify-content: center;
    &__holder {
        width: 600px;
    }
}

.blacktext{
    color:black;
}

#articleText{
    font-size: 25px;
}