
.cards-segment{
    position: fixed;
    bottom: 0px;
    left: calc(2vw + 8px);
}

.cards-title{
    background-color: white;
}

.holder{
    display: flex;
    flex-flow: wrap;
    padding: 20px;
    overflow: vertical;

    &__cards{
        margin: 5px;
        width: 400px;
        height: 300px;
        background-color: rgb(32, 32, 32);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
  }
}

.title{
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    font-weight: 500;
    font-size: 3rem;
}

/* Grow */
.hvr-grow {
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}