
.cards-segment{
    top: 60vh;
}

.cards-title{
    background-color: white;
}

.holder{
    display: flex;
    flex-wrap: wrap-reverse;
    height: 100%;
    margin: 0 6vw 2vh 0;

    &__cards{
        flex-shrink: 1;
        margin: 5px;
        background-color: rgb(32, 32, 32);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        width: 400px;
        height: 230px;
        margin: 0 0 10px 10px;
  }
}

.title{
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
}

/* Grow */
.hvr-grow {
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

@media (max-width: 1000px){
    .holder{
        flex-direction: row;
        justify-content: center;
        margin: 0;
        &__cards{
            width: 250px;
            height: 200px;
            margin: 5px;
        }
    }

    .title{
        font-size: 2.3rem;
    }
}