#about{
    display: grid;
    grid-template-columns: 60vw 40vw;

}

.aboutImage{
    width: 40vw;
    height: 70vh;
    border-radius: 200px;
}

.about-box{
    background-color: #dfeced;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: around;
        &__header-container{
            width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}