#sidebar{
    // background: rgb(71, 120, 212);
    background: rgb(204, 73, 73);
    margin: 0;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    justify-content: center;
    padding-top: 15vh;
    max-width: 200px;
    text-align: center;
}

.subheading{
    justify-content:center;
    margin: 8px 0 0 25px;
    max-width: 180px;
}

#angle{
    height: 90px;
    width: 300px;
    position: absolute;
    top: -50px;
    left: -80px;
    transform: rotate(140deg);
    background-color: #c6e1ff;
}

.menubox{
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    width: 100%;
    height: 100px;

    &__item{
        padding: 0px;
        text-align: center;
        width: 100%;
        height: 50px;
        margin: 0;
        vertical-align: middle;
        line-height: 50px;
        &:hover{
            background-color: rgb(58, 74, 102);
        }
    }
}

@media (max-width: 600px){
    #sidebar{
        width: 100vw;
    }
}