#blogPostsLayout{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    width: calc(100vw - 250px);
    background-color: rgba(0, 0, 0, 0.192);
    overflow-x: auto;
}

.articletab{
    background-color: rgb(204, 73, 73);
    margin: 0px 5px 0px 2vw;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 5px 10px;
}

#welcome{
    background-color: rgba(255, 255, 255, 0.425);
    position: absolute;
    top: 60px;
    margin: 0 0 0 20px;
    padding: 10px 10px 10px 20px;
    width: 600px;
    height: 200px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #88888879; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(56, 56, 56, 0.63); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(204, 73, 73); 
  }