.ParalaxBox{
    z-index: 4;
    height: 100vh;
    width: 99.55vw;
    position: relative;
    background-color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body, html{
    margin: 0;
    padding: 0;
}