.project{
    position: relative;
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 60vw 40vw;
    background-color: #dfeced;
    &_text{
        border-left: 2px solid #0e7680;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #dfeced;
    }
}

.title{
    display: flex;
    background-color: #dfeced;
    align-items: center;
    width: 100vw;
    height: 20vh;
    a{
        position: absolute;
        left: 50vw;
    }
}

@media(max-width: 1000px){
    .project{
        &__image{
            width: 100vw;
        }
        &__text{display:none}
    }
}