.project{
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    background-color: #ECECEC;

    &__image{
        width: 60vw;
    }

    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40vw;
        background-color: #ECECEC;
    }
}

.title{
    text-align: center;
    background-color: #ECECEC;
    padding: 60px;
}

@media(max-width: 1000px){
    .project{
        &__image{
            width: 100vw;
        }
        &__text{display:none}
    }
}