.skillsBox{
    width: 100vw;
    background-image: linear-gradient(60deg, #e273d5 0%,#fbff9b 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__holder__skill{
        position: relative;
        width: 100vw;
        display: grid;
        grid-template-columns: 60vw 40vw;
        img {
            justify-self: right;
        }
        h1 {
            margin: 2rem;
            display: flex;
            align-self: left;
            vertical-align: center;
        }
    }
}

.rotate {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media(max-width: 1000px){
    .skillsBox{
        height: 100%;
        padding: 10vh 0 10vh 0;
        &__holder{
            height: 100%;
            flex-direction: column;
        }
    }
}